<ion-content>
  <div id="main">
  <div class="stanje" fxLayout="column" fxLayoutAlign="space-between start" >
    <ion-label class="prezime">{{current.prezime}}</ion-label>
    <ion-label class="ime">{{current.ime}}</ion-label>
  </div>
  <div class="stanje" fxLayout="column" fxLayoutAlign="space-between start" >
    <ion-label class="cifra">{{current.stanjeNaRacunu}} rsd</ion-label>
    <ion-label class="trenutno">raspoloživo</ion-label>
  </div>
  <div class="menu">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <ion-card class = "kartica">
   <ion-card-content>
      <img src="../../assets/hrana-03-03.png" />
    </ion-card-content>
    </ion-card>
    <ion-card class = "kartica">
      <ion-card-content>
        <img src="../../assets/soba-03.png" />
      </ion-card-content>
    </ion-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <ion-card class = "kartica">
      <ion-card-content>
        <img src="../../assets/vesmasina-03.png" />
      </ion-card-content>
    </ion-card>
    <ion-card class = "kartica">
      <ion-card-content>
        <img src="../../assets/SETTINGS-03.png" />
      </ion-card-content>
    </ion-card>
  </div>

  </div>
</div>

</ion-content>
